@charset="UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --1-color: #151518;
    --2-color: #000000;
    --txt-color: #ffffff;
}

html,
body {
    width: 100%;
    height: 100%;

}

main {
    height: 100vh;
    position: relative;
    background-image: url('pacote-d013/imagens/fundo-madeira.jpg');
}

section.fone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 625px;
    background-image: url('pacote-d013/imagens/frame-iphone.png');

}

div.home>a {
    position: absolute;
    top: 85%;
    left: 90%;

    width: 50px;
    height: 50px;
    background-image: url('pacote-d013/imagens/logo-home.jpg');
    background-size: cover;
    border-radius: 50%;
}

div.homre>a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

div.git>a {
    position: absolute;
    top: 20%;
    left: 90%;

    width: 50px;
    height: 50px;
    background-image: url('pacote-d013/imagens/logo-github.jpg');
    background-size: cover;
    border-radius: 50%;
}

div.git>a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

div.yt>a {
    position: absolute;
    top: 30%;
    left: 90%;

    width: 50px;
    height: 50px;
    background-image: url('pacote-d013/imagens/logo-youtube.jpg');
    background-size: cover;
    border-radius: 50%;
}

div.yt>a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

div.site>a {
    position: absolute;
    top: 10%;
    left: 90%;

    width: 50px;
    height: 50px;
    background-image: url('pacote-d013/imagens/logo-instagram.jpg');
    background-size: cover;
    border-radius: 50%;
}

div.site>a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 285px;
    height: 600px;
    border-radius: 30px;
    border: none;
}